body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{  
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: stretch;
    align-items: stretch;
    border:2px solid black;
}
.column{  
    flex:1 1 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;    
}

.row{
    flex:1 1 0;
    border: 0.5px solid rgb(179, 179, 179);
}

.coloredRow {
    background-color: black;
}