html, body{
  height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-image: linear-gradient(to bottom, rgb(0, 38, 255),yellow);
    background-attachment: fixed;
    margin:0;
    text-align: center;
   
}

.header, .footer{   
    font-family: 'Rock Salt', sans-serif;  
   
    padding:3px 0px;
    background-image: linear-gradient(to right,rgba(28,28,48,0), rgba(0, 0, 0, 0.3), rgba(28,28,48,0));      
}

.header{
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
}

.footer{
    flex-shrink: 0; 
    font-size:0.7rem;
    
   
    color: rgb(0, 0, 0);
    
}

.center{
    top:20px;
    padding:15px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
   
   
}

.container{
    background-color: rgb(141, 141, 141); 
    flex-shrink: 0;  
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 490px;
    justify-content: stretch;
    align-items: stretch;
    border:10px;
    border-color:rgb(110, 67, 67);
    border-radius:10px;
    border-style:ridge;
    box-shadow: 0 0 50px rgb(12, 12, 12);
}

.column{  
    flex:1 0 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;    
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 20px;
    color: aliceblue;
    
}

.textSizePanel{
    font-family: 'Bangers', sans-serif;
  
}

.clearButton, .acceptButton, .changeButton, .randomButton, .gridOn{
    font-size: 20px;
    background-color:rgba(14, 51, 51, 0.5);
    font-family: 'Permanent Marker', sans-serif;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0px 0px 10px grey;
}

.clearButton{
    padding:5px 17px;
  
}

.acceptButton, .changeButton, .randomButton{
    padding: 5px 10px;
  
}

.sizePanel, .colorPanel{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.3em;
}

#size{
    width: 40px;
    background-color:rgba(75, 69, 69, 0.5);
    color: whitesmoke;
}

.row{
    background-color: white;
    flex:1 0 0;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(221, 221, 221, 0.507);
    
    user-select: none;
}

.container:hover{
    cursor:crosshair;
}
.row:hover{
    opacity:50%;
}







 ul{
     padding-inline-start: 0;
 }


  li {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /*
     Size the label, and make the on and off parts sit on top
     of one another using positioning
  */

label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
  }

  label span {
    position: absolute;
  }

  /*
     remove the default styling of the checkbox using appearance
     and create the outer toggle area
  */

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    background: #eee;
    transition: all 0.4s;
    box-shadow: 0px 0px 10px grey
  }

  /*
     style the ::before content to look like
     the inner toggle switch - the bit that moves
  */

  input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: black;
    content: '';
    position: absolute;
    top: 7px;
    left: 22%;
    transition: all 0.4s;
  }

  /*
     change the outer background color and move the inner toggle switch
     when the checkbox is checked; use transitions for smooth animation
  */

  input[type="checkbox"]:checked {
    background-color: #ffaa00;
    transition: all 0.4s;
  }

  input[type="checkbox"]:checked::before {
    left: 42%;
    transition: all 0.4s;
  }

  /*
     cause the On and Off parts of the label to be visible when the checkbox is
     checked and unchecked, respectively
  */

  input[type="checkbox"] ~ label .on, input[type="checkbox"]:checked ~ label .off {
    opacity: 0;
  }

  input[type="checkbox"] ~ label .off, input[type="checkbox"]:checked ~ label .on {
    opacity: 1;
  }

  /*
     make the focus outline a bit more subtle on Chrome, rather than the
     default heavy blue outline
  */

  input:focus {
    outline: 1px dotted black;
  }

